

.new_class {
    width: 550px;
    height: auto;
    background: white;
    margin: 0px,0px,0px,0px;
    border-style: double;
    border-color: deeppink;
    
}

.Product {
    width: 80px;
    height: 80px;   
    margin-right: 0%;
    margin-left: 0%;
    margin-bottom: 0%;
    background: yellow;
    position: relative;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 1%;
    /*display:inline-block;*/
}






.button {
    width: 100px;
    height: 20px;
    background-color: grey;
    color: yellow;
    font-family: Arial;
    margin: 0px 0px 0px 0px;
    position: relative;
    left: calc(500px - 100px - 10px);
    text-align: center;
}
.order{
    width:40px;
    height:20px;
    background-color:white;
    color: darkblue;
    font-family:Arial;
}

.input-user{
    margin-left: 0px;
}

.Info{
    width: 500px;
    height: auto;
    position: relative;
    top: 5%;
    left:0%;
    right: 0%;
    bottom:0%;
}

.Product-Detail{
    width: 80px;
    height:80px;
    position:relative;
    top:0%;
    left:0%;
    margin:0px 0px 5px 0px;
    background-color:green;
}

